.journal-entry-positon{
    position: center;
    text-align: center;
}

#textEntry{
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 2px;
}

#entryButton{
    width: 100px;
    margin-left: 25vh; 
    margin-top: 1vh;
    font-size: 10px;
    height: 25px
}