<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="journal-entry">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Entry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history-logs">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>
